# linting:
black
flake8
isort
pip-tools
pre-commit

# testing:
hypothesis
pytest
pytest-xdist
ipython
jedi
pdbpp
gmpy2

# vyper and dev framework:
git+https://github.com/vyperlang/titanoboa.git@c406d682e11485e07368e2ba9433e6e951e040de
vyper==0.3.7

# analysis:
seaborn
pandas

Hey Fiddy, hope you're good. Sorry for the PR, i did not find a way to contact you better ;-) 
Wanted to ask if you help protocols out with development as well on a contractual basis or you're fully committed at this stage?

Cheers,
Nikolay Shabak
Product Manager, https://clip.finance
https://github.com/shabak
https://twitter.com/nikolayshabak
